@model Demo.UI.Models.PageModel

@{
    ViewBag.Title = "DemoPage";
}

@Styles.Render("~/demo/css")
@Scripts.Render("~/demo/js")


<h2>DemoPage</h2>

<h6>This page is meant to demonstrate some of the common functionalities I've encountered in business web applications. The intent is to add more features over time until I have a sizeable demo. This page displays a simple table of records that can be searched client-side with the text box. More to come.</h6>

<br />

<div class="stuff-container">
    <div class="control-group">
        <div class="control-group-wrapper">
            <label>Client controls</label>
            <input class="form-control-custom" id="searchTextBox" type="text" placeholder="Type here to search records" />
            <br />
            <label>Show past due records</label>
            <input class="form-control-custom" id="showPastDueChkbx" type="checkbox" />
        </div>

        <div class="control-group-wrapper">
            <label class="group-label">Server controls</label>
            <div class="server-control">
                @Html.DropDownListFor(m => m.Model.FilterModel.OrganizationOptions, new SelectList(Model.Model.FilterModel.OrganizationOptions), new { @id = "orgDdl", @class = "select-add-placeholder" })
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-content" id="tableResults">
                @{ Html.RenderPartial("DemoPagePartial", Model);}
            </div>
        </div>
    </div>
</div>

<script>
    var filterUrl = '@Url.Action("GetRecordsByOrg", "Home")';
</script>