@model Demo.UI.Models.PageModel

@{
    ViewBag.Title = "DemoPage";
}

@Styles.Render("~/demo/css")
@Scripts.Render("~/demo/js")


<h2>DemoPage</h2>

<p>This page is meant to demonstrate some of the common functionalities I've encountered in business web applications. The intent is to add more features over time until I have a sizeable demo. So far I have a simple table that can be manipulated with both client and server controls. The server controls update a partial view of the table asynchronously. Test it out by pressing play on the soundcloud player at the bottom left and then using the controls. You will see that the table can update && More to come.</p>

<br />

<div class="stuff-container">
    <div class="control-group">
        <div class="control-group-wrapper">
            <div class="vertical-separator">
                <label>Client controls</label>
            </div>
            <input class="form-control-custom" id="searchTextBox" type="text" placeholder="Type here to search records" />
            <br />
            <label>Show past due records</label>
            <input id="showPastDueChkbx" type="checkbox" />
        </div>

        <div class="control-group-wrapper">
            <div class="vertical-separator">
                <label>Server controls</label>
            </div>
            <div class="server-control">
                @Html.DropDownListFor(m => m.Model.FilterModel.OrganizationOptions, new SelectList(Model.Model.FilterModel.OrganizationOptions), new { @id = "orgDdl", @class = "select-add-placeholder" })
            </div>
            <div class="server-control text-btn-inline">
                <input type="text" placeholder="minimum $ amount" id="minAmtTxt" />
                <button id="minAmtBtn">Go</button>
            </div>
            <div class=" server-control text-btn-inline">
                <input type="text" placeholder="# of records" id="recordCountInput" />
                <button id="recordCountBtn">Go</button>
            </div>
        </div>

        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/607462503&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    </div>
    <div class="panel-content" id="tableResults">
        @{ Html.RenderPartial("DemoPagePartial", Model);}
    </div>
</div>



<script>
    var filterUrl = '@Url.Action("GetRecordsByOrg", "Home")';
</script>