.stuff-container {
    display: flex;
}

.panel-heading {
    font-weight: bold;
}

.panel-group {
    width: 1400px;
    padding: 10px;

}

.panel-content {
    height: 430px;
    overflow-y: auto;
}

#searchTextBox {
    width: 190px;
}

.control-group {
    padding: 10px;
}

.form-control-custom {
    margin-bottom: 6px;
}