.stuff-container {
    display: flex;
}

.panel-heading {
    font-weight: bold;
}

.panel-group {
    width: 1400px;
    padding: 10px;

}

.panel-content {
    height: 430px;
    overflow-y: auto;
}

#searchTextBox {
    width: 190px;
}

.control-group {
    padding: 10px;
}

.form-control-custom {
    margin-bottom: 6px;
}

.control-group-wrapper {
    border-radius: 5px;
    border-color: darkgray;
    background-color: #F4F4F4;
    padding: 4px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    /*box-shadow: 3px 3px 5px 2px #ccc;*/
}

.control-group-wrapper:hover {
    box-shadow: 0px 0px 6px 2px lightblue;
}

.server-control {
    margin: auto;
    padding-bottom: 6px;
}

.text-btn-inline {
    display: flex;
}