.stuff-container {
    display: flex;
}

.group-label {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.panel-heading {
    font-weight: bold;
}

.panel-group {
    padding: 10px;
    padding-left: 35px;
    width: 100%;
}

.panel-content {
    height: 415px;
    overflow-y: auto;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-right: 0;
}

#searchTextBox {
    width: 190px;
}

.control-group {
    padding-right: 10px;
}

.form-control-custom {
    margin-bottom: 6px;
}

.control-group-wrapper {
    border-radius: 5px;
    border-color: darkgray;
    background-color: #F8F8F8;
    padding: 4px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
}

.control-group-wrapper:hover {
    box-shadow: 0px 0px 6px 2px lightblue;
}

.server-control {
    margin: auto;
    padding-bottom: 6px;
}

.text-btn-inline {
    display: flex;
}

.scrollabe-table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: separate;
}

table.scrollabe-table thead th {
    position: sticky;
    top: 0px;
    background: #EEE8AA;
    /*background: #FAFAD2;*/
    /*background: skyblue;*/
    border-bottom: 1px solid black;
    height: 30px;
    line-height: 10px;
}

.scrollabe-table tbody td, .scrollabe-table thead th {
    border: 1px solid #F8F8F8;
    font-size: small;
    text-align: center;
}

.scrollabe-table tbody td {
    height: 35px;
}